.question-author {
  font-weight: bold;
  color: #DC3545;
}
.question-link {
  color: black;
  text-decoration: none;

}
.question-link:hover {
  color: #343A40;
  text-decoration: none;
}

/*Notfound.vue */
#notfound {
    color: red;
    text-align: center;
  }

/*Question.vue */
.author-name {
    font-weight: bold;
    color: #DC3545;
  }
  .answer-added {
    font-weight: bold;
    color: green;
  }
  .error {
    font-weight: bold;
    color: red; 
  }

  /*App.vue */
  html, body {
    height: 100%;
    font-family: "Playfair Display", serif;
  }
  
  .btn:focus {
    box-shadow: none !important;
  }